body
{
   margin: 0;
   font-family: 'Roboto', sans-serif;
   -webkit-font-smoothing: antialiased;
   -moz-osx-font-smoothing: grayscale;
   color: #444444;
}

.dark
{
   --bs-bg-opacity: 1;
    background-color: rgba(var(--bs-black-rgb),var(--bs-bg-opacity))!important;
    --bs-text-opacity: 1;
    color: rgba(var(--bs-light-rgb),var(--bs-text-opacity))!important;
}

p
{
   font-weight: 300;
   line-height: 1.6111em;
}

@media (min-width: 992px)
{
   .reason-two
   {
      margin-top: 50%;
   }
   .reason-three
   {
      margin-top: 30%;
   }
   .reason-four
   {
      margin-top: 50%;
   }
   .reasons p
   {

   }
}
